.handle {
  fill-opacity: 0.5;
  stroke: red;

  &:hover {
    fill-opacity: 0.95;
  }

  &.selected {
    stroke: darkgreen;
  }
}

path {
  stroke: darkblue;
  stroke-width: 2px;
  stroke-linecap: butt;
  fill: none;

  &.selected {
    stroke: darkslategray;
  }
}