.handle {
  stroke-width: 0.25px;
  fill-opacity: 0.25;
  stroke: red;
  stroke-opacity: 0.1;

  &:hover {
    fill-opacity: 0.25;
  }

  &.selected {
    stroke: darkgreen;
  }
}

path {
  stroke: darkblue;
  stroke-width: 0.5px; // 0.5"
  stroke-linecap: butt;
  fill: none;
  stroke: none;

  &.selected {
    stroke: darkslategray;
  }
}

.wall {
  stroke-width: 3.75px;
  pointer-events: none;
}

.bbox {
  fill: orangered;
  fill-opacity: 0.5;
  stroke: none;

  &:hover {
    fill-opacity: 0.9;
  }

  &.selected {
    fill: darkgreen;
  }
}